logfile=/tmp/dbloader_logger.txt
mysqldriver=com.mysql.jdbc.Driver
mysqluser=sqluser
mysqlpasswd=sqlusermd
myjdbccxn=jdbc:mysql://localhost/feedback
mywatchdir=/home/mikedes/historicaldata/csvfiles
startdate=06/01/2016
enddate=07/05/2016
stock=BCS
dbsubmit=false
linestoskip=1
valueseparator=,
quotechar="
chartfor=closing